@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Noto Sans TC", sans-serif;
  background-color: #f8fafc;
  font-size: 22px;
}

@media print {
  .no-print {
    display: none;
  }
}
